/* project-wide fonts */
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

/* direct, self-written classes */
body {
    line-height: 1.3;
    padding-bottom: 0;
    scroll-behavior: smooth;
    font-family: Lato;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    cursor: none;
}

@media screen and (max-width: 1180px) {
    * {
        cursor: auto;
    }
}

a {
    color: black;
}

#intro {
    background: url("../img/night.jpeg") no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .75);
}

@media screen and (max-width: 992px) {
    #intro {
        background-position: center;
    }
}

#business, #education, #contact {
    width: 100%;
    height: 100vh;
    padding: 10vh 5vh 0;
    box-sizing: border-box;
    background: rgb(24, 63, 60);
    display: grid;
    overflow: hidden;
}

.cv-img {
    width: 100%;
}

.reduce-img {
    width: 80%;
}

.center-img {
    width: calc(100% - 10em);
    margin-left: 5em;
    margin-right: 5em;
}

.details {
    width: 100%;
}

#business {
    grid-template-columns: 25% 50% calc(25% - 5vw);
    grid-template-rows: 40% 40% 10%;
    grid-column-gap: 2.5vw;
}

#business p {
    margin-bottom: 20px;
}

#education {
    grid-template-columns: 25% calc(75% - 5vw);
    grid-template-rows: 40% 40% 10%;
    grid-gap: 2.5vw;
}

#education p {
    margin-bottom: 20px;
}

#contact {
    grid-template-columns: 10% calc(90% - 5vw);
    grid-template-rows: 30% 70%;
    grid-gap: 2.5vw;
}

#contact input[type=checkbox] {
    display: none;
}

#contact input, textarea, button {
    padding: 5px;
    margin: 5px 0;
    border: 2px solid darkslategray;
    border-radius: 5px;
    width: 100%;
    font-family: Raleway;
    color: darkslategray;
    font-size: 1em;
}

#contact textarea {
    resize: vertical;
}

@media screen and (max-width: 1180px) {
    #contact form {
        height: 20%;
    }
}

#contact button {
    background-color: white;
    width: auto;
    color: rgba(47, 79, 79, 0.7);
}

p > a {
    color: white;
}

@media screen and (max-width: 992px) {
    #business, #education, #contact {
        display: flex;
        flex-wrap: wrap;
    }

    .cv-img {
        width: 100%;
        align-self: center;
        flex: 0 0 auto;
    }
}

@media screen and (max-width: 1180px) {
    .void {
        display: none;
    }
}