/* project-wide fonts */
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

/* direct, self-written classes */
body {
    line-height: 1.3;
    padding-bottom: 0;
    scroll-behavior: smooth;
    font-family: Lato;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    cursor: none;
}

@media screen and (max-width: 992px) {
    * {
        cursor: auto;
    }
}

a {
    color: black;
}

#intro {
    background: url("../img/night.jpeg") no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .75);
}

@media screen and (max-width: 992px) {
    #intro {
        background-position: center;
    }
}

#random {
    font-size: 2vh;
    position: absolute;
    top: 4vh;
    right: 5vh;
}

@media screen and (max-width: 992px) {
    #random {
        font-size: 3vh;
    }
}

@media screen and (max-width: 600px) {
    #random {
        font-size: 4vh;
    }
}

#business, #education, #contact {
    width: 100vw;
    height: 100vh;
    padding: 10vh 5vh 0;
    box-sizing: border-box;
    background: rgb(24, 63, 60);
    display: grid;
}

.center-img {
    width: 100%;
    align-self: center;
    flex: 0 0 auto;
}

.details {
    width: 100%;
}

#business {
    width: 100vw;
    grid-template-columns: 25% 50% calc(25% - 5vw);
    grid-template-rows: 40% 50% 10%;
    grid-column-gap: 2.5vw;
    overflow: hidden;
}

#business p {
    margin-bottom: 20px;
}

#education {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    grid-gap: 15px;
}

#education p {
    margin-bottom: 20px;
}

#contact {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    grid-gap: 15px;
}

#contact input[type=checkbox] {
    display: none;
}

#contact input, textarea, button {
    padding: 5px;
    margin: 10px 0;
    border: 2px solid darkslategray;
    border-radius: 5px;
    width: 100%;
    font-family: Raleway;
}

#contact textarea {
    resize: vertical;
}

#contact button {
    width: 20%;
}

p > a {
    color: white;
}

@media screen and (max-width: 992px) {
    #business, #education, #contact {
        display: flex;
        flex-wrap: wrap;
    }
}

/* navigation bar */

ul.horizontal-nav {
    position: fixed;
    left: 5vh;
    top: 5vh;
    font-size: 2vh;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    transform: translateY(-50%);
    text-align: center;
    z-index: 2;
}

.horizontal-nav a {
    display: block;
    line-height: 25px;
    position: relative;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.horizontal-nav a:hover {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.horizontal-nav ul {
    margin: 0;
    padding: 0;
}

.horizontal-nav li {
    width: auto;
    list-style: none;
    display: inline-block;
}

#toggle {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 5vh;
    top: 5vh;
}

#toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: fixed;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#toggle span {
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#toggle span:first-child {
    transform-origin: 0 0;
}

#toggle span:nth-last-child(2) {
    transform-origin: 0 100%;
}

#toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
}

#toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#toggle input:checked ~ ul {
    transform: none;
}

@media screen and (max-width: 992px) {
    ul.horizontal-nav {
        left: 5vh;
        top: 6vh;
        font-size: 2vh;
    }

    .horizontal-nav a {
        padding-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .horizontal-nav {
        display: none;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #toggle span {
        display: block;
    }
}

/* colorful blob design element */

svg {
    width: 15em;
    height: 15em;
}

/* special cursor */

@media screen and (min-width: 992px) {
    .cursor {
        visibility: hidden;
        position: absolute;
        margin-top: calc(10px / -2);
        margin-left: calc(10px / -2);
        width: 10px;
        height: 10px;
        z-index: 1;

        /* would still like to be able to click things */
        pointer-events: none;
    }

    .circle {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
    }

    .pulse {
        border-radius: 50%;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
        animation: pulse 1.2s 1;
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
        }
        70% {
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        }
        100% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
    }
}

/* scroll down helper */

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
}

section h1 {
    position: absolute;
    top: 30vh;
    left: 50vw;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 14vh;
    white-space: nowrap;
}

section p {
    position: absolute;
    top: 45vh;
    left: 50vw;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 4vh;
    white-space: nowrap;
    font-family: Raleway;
}

@media screen and (max-width: 992px) {
    section h1 {
        font-size: 10vh;
    }

    section p {
        font-size: 4vh;
        white-space: break-spaces;
    }
}

@media screen and (max-width: 600px) {
    section h1 {
        font-size: 8vh;
    }

    section p {
        font-size: 3vh;
        white-space: break-spaces;
    }
}

.description a {
    position: absolute;
    bottom: 5%;
    left: 50vw;
    z-index: 2;
    display: inline-block;
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.description a:hover {
    opacity: .5;
}

.scroll a {
    padding-top: 60px;
}

.scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes animate {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

/* CV */

.cv {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
}

.cv > p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
}

.cv > p::before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: #34435E;
    text-align: center;
    line-height: 1.25em;
    font-size: 1em;
}

.cv > p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}

.cv > p::before {
    left: 100%;
    margin-left: -20px;

}

.cv > p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}

.cv > p::before {
    right: 100%;
    margin-right: -20px;

}

.cv > p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.cv > p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
