body {
    line-height: 1.3;
    padding-bottom: 0;
}

h2 {
    margin-top: 0;
    font-size: 30px;
    text-align: left;
}

a {
    color: black;
}

img, div, a {
    width: 50%;
    display: block;
}

.personal {
    display: flex;
    justify-content: space-between;
}

.content {
    margin-left: 40px;
    width: 51%;
}

img {
    width: 50%;
    height: auto;
    display: block;
    object-fit: contain;
    object-position: top;
}
